.content {
  flex-grow: 10;
  padding: 20px 50px;
}
.items {
  display: flex;
  flex-wrap: wrap;
}
.videos {
  margin: 5px 5px;
  padding: 20px;
  border: 1px solid #323232;
  height: 300px;
  box-shadow: 0 0 2px #323232;
  width: 342px !important;
}
.videos:nth-child(3n+3) {
  margin: 5px 0;
}
.h4, .h5 {
  text-align: center;
  color: #fff;
}
.h5 {
  margin: 20px 0 ;
}